* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(135deg, #8e44ad, #3498db);
  color: #fff;
}

.container {
  padding: 20px;
  max-width: 400px;
  width: 70vw;
  border-radius: 20px;
  background: #2c3e50;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container h1 {
  font-size: 2.5rem;
  color: #e74c3c;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-dropdown {
  position: relative;
  width: 90%;
  margin: 0 auto 15px;
}

.dropdown-header {
  background: #34495e;
  color: #ecf0f1;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-header:hover {
  background: #3b556a;
}

.dropdown-header span {
  font-size: 14px;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 200px;
  /* Set a maximum height for the dropdown */
  background: #34495e;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  /* Add vertical scrolling if necessary */
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

.dropdown-list.active {
  display: block;
}

.dropdown-item {
  color: #ecf0f1;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  padding: 10px 15px;
}

.dropdown-item:hover {
  background: #3b556a;
}

#uid-input {
  width: 90%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  background: #34495e;
  color: #ecf0f1;
  margin-bottom: 15px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#uid-input:focus {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#fetch-button {
  width: 90%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #e67e22, #e74c3c);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(231, 76, 60, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#fetch-button:hover {
  background: linear-gradient(135deg, #e74c3c, #e67e22);
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(231, 76, 60, 0.6);
}

#fetch-button:active {
  transform: scale(0.95);
}

/* Dropdown and input fields when error occurs */
#dropdown-header,
#uid-input {
  border: 2px solid #ccc;
  /* Default border color */
  box-shadow: none;
  /* Default no shadow */
}

#dropdown-header.error,
#uid-input.error {
  border: 2px solid red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  /* Red border and shadow on error */
}
